.test-page {
  margin: 20vh auto;
  width: 50vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;

  &_ready {
    background-color: darkseagreen;
  }
}
